html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/*header start*/
h1{
    font-size: 20px;
    font-weight: bold;
    color: rgb(175, 231, 231);

    
    
}

.row{
    width: 100%;
    text-decoration: none;
}
.row::after{
    clear: both;
    content: '';
    display: block;
}


[class*="col-"]{
    float: left;
    padding: 15px;
}

[class*="col-"]{
    width: 100%;
}
/* header start */
header{
    background-color:#24a19c ;
    padding: 0% 1%;
    text-align: center;
}
.logo{
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    color: white;
    border-radius: 50%;
    border: 2px solid white;
}
nav ul li{
    display: block;

}
nav ul li a{
    display: block;
    text-decoration: none;
    color: white;
    line-height: 70px;
    padding: 0 20px;
   text-transform: uppercase;
   font-size: 0.9rem;
   font-family: 'Roboto', sans-serif;
   transform: .4s;


}
nav ul li a:hover{
    border-radius: 10px;
    background-color: rgb(0, 0, 0,0.4);
}
/*header End*/
/*Main start*/

.container{
    max-width: 1000px;
   margin: auto;
    
    font-family: 'Montserrat', sans-serif;

    
    
    /*font-family: 'Handlee', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;*/
}





h2{
    font-size: 50px;
    font-weight: bolder;

}


.fle-c{
    display: flex  ;
    margin-bottom: 100px;
}
.one{
    width: 50%;
    padding:5% ;
         
    

}
.one{
    width: 450px;
    border: 1px solid rgba(141, 236, 220, 0.479);
    border-radius: 360px;
}
.btn{
    text-decoration: none;
    
    background-image: linear-gradient(rgb(6, 105, 105),rgb(10, 3, 105));
    
    padding:10px 20px;
    
    border-radius: 5px;
    transition: .4s;
    
    color: white;
   
}
.btn:hover{
    transform: scale(1.2);
}
.Products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap:10px ;
    grid-row-gap:20px;
    margin-bottom: 20px;
    
    
}
.product .product-banner img{
    width: 300px;
    height: 300px;
    transition: .5s;
    border:1px solid rgb(33, 41, 155);
    border-radius: 5px;
    
   

}
.product .product-banner img:hover{
    transform: scale(1.2);
}
.product-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color:yellow;
}
.fa-star.empty{
    color:slategray;
}
.h3{
    font-size:30px;
    font-weight: bold;
    text-align: center;
    margin: 25px;
}



.row{
    width: 100%;
}
.row::after{
    clear: both;
    content: '';
    display: block;
}
/*Contact menu start */

#contact{
    padding:1%;
    background-color: #595b83;
    
}

.map{
    width: 100%;
    height: 250px;
}

.contact-details{
    color: white;
    text-align:center ;
    padding: 20px 0;
}
.contact-details p, address{
    font-size: 0.8rem;

}

/*footer start*/
.div-clear{
    clear: both;
}
.row{
    text-align: center;
}


footer{
  
    padding: 1%;
    color: white;
    background-color:#060930 ;
    margin: auto;
   
    
    
}
footer h3{
    
    font-size:1.5rem ;
    text-align: center;

}
footer p{
    line-height: 32px;
    font-size:0.8rem ;
    text-align: center;
}

.icon-style{
    color: white;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 50%;
    border: 1px solid white;
    margin:0 10px;
    transition: .4s;
    text-align: center;
}
.icon-style:hover{
    background-color: gray;
    transform:scale(1.2);
    
}

/*footer end*/




/*Contact menu End */

/*main end*/


[class*="col-"]{
    float: left;
    padding: 15px;
}

[class*="col-"]{
    width: 100%;
}


/* small device*/
@media only screen and (min-width: 576px) {
    /* For desktop: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
/* mediam device*/
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
  }
  
/* large device*/
@media only screen and (min-width: 992px) {
    .logo-div{
        text-align: left;
    }
    h1{
        text-align: left;
    }
    nav ul{
        text-align: right;
    }
    nav ul li{
        display: inline-block;
    }
    nav ul li a{
        display: inline-block;
        transition: .4s;
    } 
    nav ul li a:hover{
        background-color: transparent;
        transform: scale(1.2);
        text-decoration: underline;
        border-radius: 0;
      
    }
    .col-l-1 {width: 8.33%;}
    .col-l-2 {width: 16.66%;}
    .col-l-3 {width: 25%;}
    .col-l-4 {width: 33.33%;}
    .col-l-5 {width: 41.66%;}
    .col-l-6 {width: 50%;}
    .col-l-7 {width: 58.33%;}
    .col-l-8 {width: 66.66%;}
    .col-l-9 {width: 75%;}
    .col-l-10 {width: 83.33%;}
    .col-l-11 {width: 91.66%;}
    .col-l-12 {width: 100%;}
  }